{% extends 'includes/wrapper.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "/tasks/index.css" %}">
{% endblock %}

{% block title %}
    <title>Task №{{ task.id }}</title>
{% endblock %}

{% block content %}
    <section class="task-details task-details--create h-100">
        <div class="container d-flex flex-column h-100">
            <div class="card my-5 flex-grow-1">
                <div class="card-header">
                    <h4>Создание задачи</h4>
                </div>
                <div class="card-body">
                    {% include "components/errors.html" %}
                    <form class="task-details__form" action="{% url "tasks-details--create" %}" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button type="submit" class="task-details__btn btn btn-dark w-100">Создать</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}