{% extends 'includes/wrapper.html' %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = () => {
            $(".btn-delete-task").on("click", () => {
                const msg = "Вы действительно хотите удалить задачу? Отменить действие будет нельзя!";
                if (confirm(msg)) {
                     location.href = "{% url "tasks-details--delete" pk=task.pk %}";
                }
            })
        };
    </script>
{% endblock %}

{% block title %}
    <title>Task №{{ task.id }}</title>
{% endblock %}

{% block content %}
    <section class="task-details h-100">
        <div class="container d-flex flex-column h-100">
            <div class="card my-5 flex-grow-1">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="card-header__start">
                        <span class="badge badge-success p-2">{{ task.state }}</span>
                    </div>
                    <div class="card-header__end">
                        <a class="btn btn-outline-dark btn-create-task py-1" title="Create task" href="{% url "tasks-details--create" %}">
                            <i class="fa fa-plus fa-sm"></i>
                        </a>
                        <button class="btn btn-outline-dark py-1" title="Edit task">
                            <i class="far fa-edit fa-sm"></i>
                        </button>
                        <button class="btn btn-outline-danger btn-delete-task py-1" title="Delete task">
                            <i class="fa fa-trash fa-sm"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body d-flex p-0">
                    <div class="card-col flex-grow-3 p-4">
                        <h4 class="card-title mb-4">{{ task.name }}</h4>
                        <p class="card-text white-space-preline">{{ task.details }}</p>
                    </div>
                    <div class="card-col flex-grow-1 bg-light p-4">
                        <div class="task-details__properties">
                            {% include "components/field.html" with label="Область" value=task.subject title="Область и контекст задачи" %}
                            {% include "components/field.html" with label="Приоритет" value=task.priority %}
                            {% include "components/field.html" with label="Отчетность" value=task.report_status title="Тип отчетности по задаче" %}
                            {% include "components/field.html" with label="Состояние" value=task.state %}
                        </div>
                        <div class="tags-list">
                            {# FIXME: more customizable include (pass template in include) #}
                            <div class="field">
                                <h6 class="field__label">Метки</h6>
                                {% for tag in task.tags.all %}
                                    <span class="badge badge-secondary p-2">{{ tag }}</span>
                                {% empty %}
                                    <span class="text-muted">Нет данных</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}