{% extends 'includes/wrapper.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'auth/index.css' %}">
{% endblock %}

{% block title %}
    <title>Sign In</title>
{% endblock %}

{% block content %}
    <form class="form-auth" method="post" action="{% url 'account:sign-in' %}">
        <div class="text-center">
            <img class="mb-4" src="{% static 'favicon.png' %}" alt="" width="72" height="72">
        </div>
        <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>

        {% for error in auth_errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}

        <input type="text" name="username" class="form-control mb-1" placeholder="Username" required
               autofocus>
        <input type="password" name="password" class="form-control mb-4" placeholder="Password" required>
        {% comment %}<div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>{% endcomment %}
        {% csrf_token %}
        <button class="btn btn-lg btn-danger btn-block" type="submit">Sign In</button>
    </form>
{% endblock %}