{% extends 'includes/wrapper.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "tasks/index.css" %}">
    <style>
        .task-details__return-btn {
            position: absolute;
            top: 16px;
            left: -48px;
        }
    </style>
{% endblock %}

{% block title %}
    <title>Редактирование задачи #{{ task.pk }}</title>
{% endblock %}

{% block content %}
    <section class="task-details task-details--edit h-100" style="{{ task.state.style_transparent }}">
        <div class="container d-flex flex-column h-100">
            <div class="card my-5 flex-grow-1">
                <a href="{% url "tasks:details" pk=task.pk %}" class="task-details__return-btn link">
                    <i class="fa fa-chevron-left fa-2x mr-3"></i>
                </a>
                <div class="card-header d-flex align-items-center">
                    <h4>Редактирование задачи</h4>
                </div>
                <div class="card-body">
                    {% include "components/errors.html" %}
                    <form class="task-details__form" action="{% url "tasks:edit" pk=task.pk %}" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button type="submit" class="task-details__btn btn btn-dark w-100">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}