<h1 class="display-4">{{ user.username }}</h1>
<p class="lead">{{ user.email }}</p>
<hr class="my-4">
<div class="stats">
    {% include 'components/stat.html' with size="display-5" color="text-danger" label=user.areas.count icon="folder" %}
    {% include 'components/stat.html' with size="display-5" color="text-danger" label=user.subjects.count icon="bars" %}
    {% include 'components/stat.html' with size="display-5" color="text-danger" label=user.tasks.count icon="clone" %}
    {% include 'components/stat.html' with size="display-5" color="text-danger" label=user.closed_tasks.count icon="check" %}
    {% include 'components/stat.html' with size="display-5" color="text-danger" label=user.workload icon="fire" %}
</div>
