<h1 class="display-4">admin</h1>
<p class="lead">admin@gmail.com</p>
<hr class="my-4">
<div class="stats">
    {% include 'components/stat.html' with size="display-5" color="text-danger" label=2 icon="folder" %}
    {% include 'components/stat.html' with size="display-5" color="text-danger" label=13 icon="window-restore" %}
    {% include 'components/stat.html' with size="display-5" color="text-danger" label=4 icon="check" %}
    {% include 'components/stat.html' with size="display-5" color="text-danger" label="80%" icon="fire" %}
</div>
