{% load static %}

<div class="user-main d-flex justify-content-center">
    <div class="media text-left">
        <img src="{% if user.thumb %}
            {{ user.thumb.url }}
            {% else %}
            {% static "avatar.png" %}
        {% endif %}" class="mr-3" width="64px" height="64px" alt="user-thumb">
        <div class="media-body">
            <h5 class="mt-0">{{ user.username }}</h5>
            {{ user.email }}
        </div>
    </div>
</div>
<hr class="my-4">
<div class="stats">
    {% include 'components/stat.html' with size="display-5" title="Areas" label=user.areas.count icon="folder" %}
    {% include 'components/stat.html' with size="display-5" title="Subjects" label=user.subjects.count icon="bars" %}
    {% include 'components/stat.html' with size="display-5" title="Total tasks" label=user.tasks.count icon="clone" %}
    {% include 'components/stat.html' with size="display-5" title="Closed tasks" label=user.closed_tasks.count icon="check" %}
    {% include 'components/stat.html' with size="display-5" title="Workload" label=user.workload icon="fire" %}
</div>
