<section class="h-100 bg-white">
    <div class="container d-flex flex-column h-50">
        <div class="card my-5 flex-grow-1">
            <div class="card-header">
                <h4>Метки</h4>
            </div>
            <div class="card-body d-flex justify-content-center align-items-center">
                {% for tag in tags %}
                    <span class="bg-light mx-1 text-center text-dark"
                          style="width: 150px;height:48px;line-height: 48px">
                        {{ tag.name }}
                    </span>
                {% endfor %}
            </div>
        </div>
    </div>
</section>