{% load static %}

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger black-bg fixed-top">
        <nav class="navbar navbar-dark">
            <a class="navbar-brand" href="{% url 'home-index' %}">
                <img src="{% static 'favicon.png' %}" width="30" height="30"
                     class="d-inline-block align-top" alt="">
            </a>
        </nav>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{% url 'tasks-list' category="open" %}">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="{% url 'tasks-details' pk=1 %}">[Task Example]</a>
                </li>
                {% comment %}<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>{% endcomment %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">API</a>
                </li>
            </ul>
            {% comment %}<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>{% endcomment %}
            {% if user.is_authenticated %}
                <a href="{% url 'account-index' %}" class="text-muted mr-2">({{ user.username }})</a>
                <a href="{% url 'account-logout' %}" class="btn btn-dark m-1 text-white" type="submit">Logout</a>
            {% else %}
                <a href="{% url 'account-sign-in' %}" class="btn btn-dark m-1 text-white" type="submit">Sign In</a>
                <a href="{% url 'account-sign-up' %}" class="btn btn-danger m-1 text-white" type="submit">Sign Up</a>
            {% endif %}

        </div>
    </nav>
</header>