<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            Tasks
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Odio cras otsuj</li>
            <li class="list-group-item">Loreq muqre</li>
            <li class="list-group-item">Ac dabus ni falisci</li>
        </ul>
    </div>
</div>