<div class="tasks-list__toolbar" title="Функционал в разработке...">
    <nav class="tasks-list__toolbar-nav navbar navbar-light bg-light py-4">
        <form class="form-inline d-flex w-100">
            <div class="input-group flex-grow-1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                       aria-describedby="basic-addon1">
            </div>

            <div class="dropdown ml-2">
                <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Created date
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Created Date</a>
                    <a class="dropdown-item" href="#">Last Update</a>
                    <a class="dropdown-item" href="#">Priority</a>
                </div>
            </div>
        </form>
    </nav>
</div>