<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <a href="{% url 'tasks:list' %}" class="text-decoration-none text-danger">Active tasks</a>
        </div>
        <ul class="list-group list-group-flush">
            {% for task in user.open_tasks %}
                <li class="list-group-item">
                    <a href="{% url "tasks:details" pk=task.pk %}" style="color: var(--secondary);">{{ task.label }}</a>
                </li>
            {% empty %}
                <span class="p-4 text-muted">Looks like you have not yet any task</span>
            {% endfor %}
        </ul>
    </div>
</div>