html,
body,
#root {
    position: relative;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    margin-top: 72px;
}

footer {
  height: 60px;
  line-height: 60px;
}

.object-fit-cover {
    object-fit: cover;
}

.display-5 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}