{% extends 'includes/wrapper.html' %}

{% block title %}
    <title>Tasks</title>
{% endblock %}

{% block content %}
    <section class="tasks-list h-100-pr">
        <div class="container d-flex flex-column h-100-pr">
            <div class="card p-4 mt-4 flex-grow-1">
                <div class="tasks__header">
                    <h1>Tasks</h1>
                </div>
                <ul class="nav nav-tabs mb-2">
                    <li class="nav-item">
                        <a class="nav-link text-secondary {% if category == "open" %}active text-danger{% endif %}"
                           href="{% url 'tasks-list' category="open" %}">
                            Open
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary {% if category == "close" %}active text-danger{% endif %}"
                           href="{% url 'tasks-list' category="close" %}">Closed</a>
                    </li>
                </ul>
                {% include 'tasks/includes/toolbar.html' %}
                <div class="mt-1">
                    {% include 'tasks/includes/tasks.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}